.container {
  position: absolute;
  /*top: 30%;*/
  /*left: 10px;*/
  /*text-align: center;*/
  /*background: rgba(0, 0, 0, 0) !important;*/
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.text {
  color: white;
  font-size: 0.7em;
  cursor: pointer;
  display: block;
  margin-top: 1.5px;
  transition: filter 0.2s;
}

.text:hover {
  filter: brightness(60%);
  /*font-size: 0.75em;*/
}

.card {
  position: absolute;
  left: 15px;
  width: 18px;
  transition: filter 0.2s;
  opacity: 1;
  cursor: pointer;
  /*position: relative;
  top: 50%;
  transform: translateY(-50%);*/
  filter: brightness(100%);
}

.card:hover {
  width: 20px;

  filter: brightness(150%);

}

.li {
  /*display: inline-block;*/
  white-space: nowrap;
}


.resetButton {
  position: relative;
  right: -160px;
  bottom: 10px;
  padding: 2px;
  font-size: 0.6em;
}

.total {
  font-size: 1em;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: default;
}

.probabilidad {
  color: white;
  font-size: 0.7em;
  cursor: default;
}

.list {
  position: relative;
  top: 10px;
  left: 0;
}

.white {
  color: white !important;
}

.number {
}

.fire {
  background-color: rgba(191, 63, 63, 0.72);
}

.justice {
  background-color: rgba(63, 191, 63, 0.72);
}

.primal {
  background-color: rgba(63, 127, 191, 0.72);
}

.shadow {
  background-color: rgba(127, 63, 191, 0.72);
}

.time {
  background-color: rgba(191, 191, 63, 0.72);
}
