.container {
  position: absolute;
  /*top: 30%;*/
  /*left: 10px;*/
  /*text-align: center;*/
  /*background: rgba(0, 0, 0, 0) !important;*/
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.text {
  color: white;
  font-size: 1.4vh;
  cursor: pointer;
  display: block;
  margin-top: 0.2vh;
}

.card {
  position: absolute;
  left: 2vh;
  width: 3vh;
  transition: filter 0.2s;
  opacity: 1;
  cursor: pointer;
  /*position: relative;
  top: 50%;
  transform: translateY(-50%);*/
  filter: brightness(100%);
}

.card:hover {
  /*position: absolute;*/
  /*transition: width 0.3s;*/
  /*opacity: 1;*/
  filter: brightness(150%);

  /*z-index: 2;*/
  /*width: 24vw;*/
}

.li {
  /*display: inline-block;*/
  white-space: nowrap;
}

.total {
  font-size: 2vh;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: default;
}

.probabilidad {
  /*position: absolute;*/
  /*left: 0;*/
  /*left: 35%;*/
  /*right: 0;*/
  /*color: white;*/
  /*font-size: 1vh;*/
  /*z-index: 10;*/
  color: white;
  font-size: 1.8vh;
  cursor: default;
}

.list {
  position: relative;
  top: 1vh;
  left: 0;
}

.white {
  color: white !important;
}

.number {
  /*width: 20vw;
  position: relative;
  top: 50%;
  transform: translateY(-50%);*/
}
