.container {
  position: absolute;
  /*top: 30%;*/
  /*left: 10px;*/
  /*text-align: center;*/
  background: rgba(0, 0, 0, 0) !important;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.card {
  height: 10vw;
  transition: height 0.2s;
}

.card:hover {
  /*position: absolute;*/
  /*transition: width 0.3s;*/
  z-index: 2;
  height: 11vw;
}

.li {
  /*display: inline;*/
}

.list {
  position: relative;
  top: 0;
  left: 0;
}
